[project]
name = "flake-update-tags"
version = "0.1.0"
requires-python = ">=3.12"
dependencies = []

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[project.scripts]
flake-update-tags = "flake_update_tags.__main__:main"

[tool.pdm]
distribution = true
